* {
    margin: 0;
    padding: 0;
  }
  /* shared styles */
  
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
  
  .quicksand-font {
    font-family: "Quicksand";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .display-flex {
    display: flex;
  }
  .mixed-radius {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
  }
  .btn-1 {
    height: 38px;
    position: relative;
    top: -130px;
    right: 78px;
    bottom: 105px;
    left: 37px;
    border: none;
    border-radius: 47.93px;
    color: #ffffff;
    background-color: #95b226;
    padding: 9px 18px 10px 19px;
  }
  .btn-2 {
    height: 38px;
    position: relative;
    top: -130px;
    right: 78px;
    bottom: 105px;
    left: 37px;
    border: none;
    border-radius: 47.93px;
    color: #ffffff;
    background-color: #5d58f0;
    padding: 9px 18px 10px 19px;
  }
  .btn-3 {
    position: relative;
    top: -130px;
    right: 73px;
    bottom: 105px;
    left: 38px;
    border: none;
    border-radius: 47.93px;
    color: #ffffff;
    background-color: #95b226;
    padding: 9px 18px 10px 19px;
  }
  .btn-4 {
    position: relative;
    top: -130px;
    right: 125px;
    bottom: 105px;
    left: 38px;
    border: none;
    border-radius: 47.93px;
    color: #ffffff;
    background-color: #95b226;
    padding: 9px;
  }
  .space-btn {
    margin: 80px 621px 60px 480px;
    text-wrap: nowrap;
    padding: 10px 61px;
  }
  
  .orange-color {
    color: orange;
  }
  .skyblue-color {
    color: #01acfd;
  }
  .skyblue-color-another {
    color: #05d4df;
  }
  .blue-color {
    color: #5d58ef;
  }
  .bg-color {
    background-image: linear-gradient(to bottom, #def5ff, #ffffff);
  }
  .bg-color2 {
    background-image: linear-gradient(to bottom, #fff4dc, #ffffff);
  }
  .bg-color3 {
    background-image: linear-gradient(to bottom, #f2e8ff, #ffffff);
  }
  .btn-color {
    color: #64c8ff;
  }
  .btn-color2 {
    color: #f0aa00;
  }
  .btn-color3 {
    color: #8700ff;
  }
  
  /* navbar styles */
  .navbar {
    margin: 20px 140px;
    justify-content: space-between;
    align-items: center;
  }
  .nav-left {
    align-items: center;
    gap: 11px;
  }
  .nav-title {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
  }
  .nav-right ul {
    align-items: center;
    gap: 32px;
  }
  .nav-right ul li {
    display: block;
  }
  .nav-right ul li a {
    text-decoration: none;
  }
  .nav-btn {
    color: white;
    background-color: orange;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
  }
  #nav-icon {
    display: none;
  }
  
  /* banner styles */
  .banner {
    margin: 20px 140px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .banner-title {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 61px;
    margin-bottom: 24px;
  }
  .banner-description {
    font-size: 1.25rem;
    font-weight: 400px;
    line-height: auto;
    margin-bottom: 24px;
  }
  .banner-btn {
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    padding: 10px 47px;
  }
  /* curriculm section style */
  main {
    background-image: linear-gradient(#ffffff, #ffffff, rgba(254, 163, 1, 1));
  }
  
  .Curriculum {
    background-image: url(../assets/bg.png);
    margin: 80px 207px;
    margin-left: 140px;
  }
  .curriculum-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 2.875rem;
    font-weight: bold;
    line-height: 57.5px;
  }
  .box-container {
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .box {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 18.86px;
    box-shadow: 0 0 28.3px 0.94px;
    width: 100%;
    height: 100%;
  }
  .box-img {
    margin-top: 52px;
    margin-bottom: 32px;
    height: 138px;
  }
  
  .box-title {
    font-size: 1.5325rem;
    font-weight: bold;
    line-height: 30px;
  }
  .box-description {
    color: #808080;
    font-size: 1rem;
    font-weight: 400;
    line-height: 28.3px;
    margin: 32px 50px;
  }
  .box-btn {
    margin-bottom: 53px;
    border: none;
    background-color: white;
  }
  .arrow {
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  .arrow-btn-left {
    border: none;
    border-radius: 30px;
    font-size: 1.7rem;
    font-weight: solid;
    line-height: 24px;
    padding: 17px 22.13px 19px 22.5px;
    color: #ffffff;
    background-color: #f0aa00;
  }
  .arrow-btn-right {
    border: none;
    border-radius: 30px;
    font-size: 1.7rem;
    font-weight: solid;
    line-height: 24px;
    padding: 17px 22.13px 19px 22.5px;
    color: #ffffff;
    background-color: #01acfd;
  }
  /* card section styles */
  
  .our-stories {
    background-image: url(../assets/bg.png);
    margin-left: 140px;
    margin-right: 140px;
  }
  .stories-title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 2.875rem;
    font-weight: bold;
    line-height: 57.5px;
  }
  .card-container {
    gap: 19px;
  }
  .grid-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18.87px;
  }
  .card-big {
    background-color: #ffffff;
    border: none;
    border-radius: 16px;
  }
  .card {
    background-color: #ffffff;
    border: none;
    border-radius: 16px;
  }
  .card-title-big {
    margin: 58px 38px 47px 38px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 38.3px;
  }
  .card-description-big {
    font-size: 1rem;
    font-weight: 400px;
    line-height: 28.8px;
    color: #666666;
    margin: 47px 68px 34px 38px;
  }
  .card-btn-big {
    border: none;
    border-radius: 47.93px;
    color: #ffffff;
    background-color: #3cd8e8;
    padding: 9px 18px 10px 19px;
  }
  .card-big button {
    position: relative;
    top: -314.14px;
    right: 327.14px;
    bottom: 368.44px;
    left: 38.35px;
  }
  .card-title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 28.8px;
    margin: 23px 54px 33px 37px;
  }
  
  .space-btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .view-all-btn {
    margin-bottom: 40px;
    margin-top: 12px;
  }
  
  /* media query for small device */
  @media screen and (max-width: 576px) {
    .navbar {
      margin: 10px 0;
      padding: 10px 10px;
      border-bottom: 1px solid orange;
    }
    .nav-title,
    .nav-right,
    .nav-btn {
      display: none;
    }
    #nav-icon {
      display: block;
      width: 30px;
      height: 30px;
    }
  
    /* banner */
    .banner {
      flex-direction: column-reverse;
      margin: 20px 10px;
    }
    .banner-image img {
      width: 336px;
      height: 413px;
    }
    br {
      display: none;
    }
    .banner-container {
      text-align: center;
    }
    .curriculum-title {
      text-align: center;
    }
    .box-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 16.5px;
    }
    .arrow {
      display: none;
    }
  
    .card {
      width: 100%;
      position: relative;
    }
  
    .card-title {
      margin: unset;
    }
  
    /* Curriculum */
  
    .Curriculum {
      margin: unset;
    }
  
    /* stories section */
    .our-stories {
      margin: 0 16px;
    }
    .stories-titl {
      margin: 40px 124px;
      text-wrap: nowrap;
    }
    .card-big {
      display: none;
    }
    .grid-card {
      width: 100%;
      gap: 11px;
    }
  
    .card-title {
      padding: 30px 12px 12px 12px;
    }
    .card-container {
      flex-direction: column;
    }
  
    .btn-1,
    .btn-2,
    .btn-3,
    .btn-4 {
      top: 100px;
      left: 8px;
      bottom: unset;
      right: unset;
      position: absolute;
      /* top: -125px; */
      /* left: 10px; */
    }
  }